$layout_background_color:   #fff;
$link_text_color:           #555;
$product_link_text_color:   #555;
/*--------------------------------------*/
/* Fonts import from remote - Open Sans
/*--------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700&subset=latin,greek,cyrillic-ext,latin-ext,greek-ext);

/*--------------------------------------*/
/* Font families
/*--------------------------------------*/
$ff_base:       'Open Sans', "Lucida Grande", Tahoma, Verdana, sans-serif;